
.half {
    width: 50%;
}

.container-fluid{
    background-image: linear-gradient(to right,#0808089d, #0c0c0c8e),url("bg.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.list-group-item{
    color: black;
}